/*.img--headshot {
  height: 200px;
  width: 200px; } */
  
.site__title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem; }
  
.hljs {
  font-size: 0.8rem;
  line-height: 1.5;}
/*    
.section__title {
  font-size: 1.5rem; }
  
p {
  font-size: 1rem;
  line-height: 1.5;
}
  
code {
  font-family: "SF-Mono", "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Roboto Mono", "Ubuntu Mono", "Courier New", Courier, monospace;
  font-size: 0.7rem; }
  
@media (min-width: 320px) and (max-width: 767px) {
  html,
  body {
    font-size: 0.8rem;
    line-height: 1.5;}
  .sidebar li {
    padding: .1rem 0; }
  .sidebar .container {
    padding-left: 0;
    padding-right: 0; }
  .hidden-tablet {
    display: none; }
  .sidebar-about,
  .copyright {
    display: none; }
  .sidebar {
    margin: 0;
    padding: 0; }
  .menu-content {
    padding: 0 0 0 0px;
    max-height: 0;
    overflow: hidden;
    margin-top: 0; }
  .collapsible-menu {
    padding: 0px 0px; }
  .collapsible-menu ul {
    list-style-type: none;
    padding: 0; }
  .collapsible-menu li {
    display: block; }
  .collapsible-menu a {
    text-decoration: none;
    cursor: pointer; }
  .collapsible-menu label {
    background: url(/img/menu-open.svg) no-repeat left center;
    background-position: 1.5rem;
    display: block;
    cursor: pointer;
    color: #fff;
    padding: 10px 0 10px 0px; }
  input#menuToggle {
    display: none; }
  input#menuToggle + label {
    font-weight: bold; }
  input#menuToggle:checked + label {
    background-image: url(/img/menu-close.svg);
    background-position: 1.5rem;
    color: #fff; }
  input#menuToggle:checked ~ .menu-content {
    max-height: 100% !important; }
  .social {
    padding: 1em 0 1em 0; } }

@media (min-width: 768px) {
  html,
  body {
    font-size: 0.8rem;
    line-height: 1.5;}
  .sidebar {
    bottom: 0;
    left: 0;
    position: fixed;
    text-align: left;
    top: 0;
    width: 18rem; }
  .sidebar-sticky {
    left: 1rem;
    position: absolute;
    right: 1rem;
    top: 1rem; }
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem; }
  .layout-reverse .sidebar {
    left: auto;
    right: 0; }
  .layout-reverse .content {
    margin-left: 2rem;
    margin-right: 20rem; }
  .col-sm-8 {
    width: 66.66666667%; }
  .project__title {
    margin-top: 0.2rem; }
  .navigation {
    display: flex;
    justify-content: space-between; }
    .navigation a {
      width: calc(50% - 10px); }
      .navigation a:nth-child(2) {
        margin-top: 0; }
  input#menuToggle,
  input#menuToggle + label {
    display: none; } }

@media (min-width: 992px) {
  html,
  body {
    font-size: 0.8rem;
    line-height: 1.5;}
  .content {
    margin-left: 20rem;
    margin-right: 2rem;
    max-width: 38rem; }
  .layout-reverse .content {
    margin-left: 4rem;
    margin-right: 22rem; }
  .col-md-4 {
    float: left;
    width: 33.33333333%; }
  .col-md-8 {
    float: left;
    width: 66.66666667%; }
  .portfolio-container {
    width: 1360px; } } */