<span class="section__title">baseball metrics and research from scratch</span>
<ul class="posts">
    {{ with where .Site.Pages "Params.weight" 1 }}
        {{ partial "posts-list.html" . }}
    {{ end }}
</ul>
<span class="section__title">explorations with personal data</span>
<ul class="posts">
    {{ with where .Site.Pages "Params.weight" 3 }}
        {{ partial "posts-list.html" . }}
    {{ end }}
</ul>
<span class="section__title">random thoughts</span>
<ul class="posts">
    {{ with where .Site.Pages "Params.weight" 4 }}
        {{ partial "posts-list.html" . }}
    {{ end }}
</ul>

